<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024" width="1024" height="1024">
	<title>World-02-ai</title>
	<style>
		.s0 { fill: #000000 } 
	</style>
	<g id="Layer 1">
		<g id="&lt;Group&gt;">
			<path id="&lt;Compound Path&gt;" fill-rule="evenodd" class="s0" d="m1024 512c0 283-229 512-512 512-283 0-512-229-512-512 0-283 229-512 512-512 283 0 512 229 512 512zm-910.4 210.4h156.4c-18.7-57.7-29.8-119.2-31.7-180.6h-176.9c3.8 65.2 22.4 126.6 52.2 180.6zm156.4-420.8h-158.3c-27.9 54-46.5 115.4-50.3 180.6h176.9c3.7-61.4 13-122.9 31.7-180.6zm29.8 180.6h422.6c-1.9-61.4-13-122.9-33.5-180.6h-355.6c-20.5 57.7-31.7 119.2-33.5 180.6zm33.5 240.2h355.6c20.5-57.7 31.6-119.2 35.3-180.6h-424.4c1.8 61.4 13 122.9 33.5 180.6zm417 0h160.1c28-54 46.6-115.4 50.3-180.6h-178.7c-1.9 61.4-11.2 122.9-31.7 180.6zm208.5-240.2c-3.7-65.2-20.4-126.6-50.2-180.6h-158.3c18.6 57.7 29.8 119.2 31.7 180.6zm-320.3-404c37.3 50.3 68.9 104.3 93.1 162h141.5c-59.6-76.4-141.5-134.1-234.6-162zm-126.6-18.6c-11.1 0-24.2 1.8-35.3 1.8-50.3 54-89.4 113.6-119.2 178.8h307.2c-29.8-65.2-68.9-124.8-119.2-178.8-11.1 0-22.3-1.8-33.5-1.8zm-361.2 180.6h139.7c24.2-57.7 55.8-111.7 93.1-162-93.1 27.9-175 85.6-232.8 162zm232.8 705.6c-37.3-50.3-68.9-104.3-93.1-162h-139.7c57.8 76.4 139.7 134.1 232.8 162zm128.4 18.6c11.2 0 22.4-1.8 33.5-1.8 50.3-54 89.4-113.6 119.2-178.8h-307.2c29.8 65.2 68.9 124.8 119.2 178.8 11.1 0 24.2 1.8 35.3 1.8zm359.4-180.6h-141.5c-22.4 55.9-54 111.7-93.1 162 94.9-27.9 176.8-85.6 234.6-162z"/>
		</g>
	</g>
</svg>