{% if section.blocks.size > 0 %}
    <div class="featured-products-section">
        <div class="featured-product-header">
            {% if section.settings.heading != blank %}
                <h2 class="featured-product-heading">
                    {{ section.settings.heading }}
                </h2>
            {% endif %}
            {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                <a class="btn btn--primary" href="{{ section.settings.button_link }}">
                    <span>{{ section.settings.button_label }}</span>
                </a>
            {% endif %}
        </div>
        <div class="featured-products-wraper">
            {% for block in section.blocks %}
                <div class="featured-product-item">
                    {% render 'product-card' product: block.settings.product, description: block.settings.description %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% schema %}
{
    "name": "Featured Products",
    "settings": [
        {
            "type": "text",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Product",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ],
    "max_blocks": 4,
    "presets": [
        {
            "name": "Featured Products"
        }
    ]
}
{% endschema %}