@font-face {
    font-family: 'FHOscar-Regular';
    src: url("FHOscar-Regular.woff2") format("woff2")
}
@font-face {
    font-family: 'FHOscar-Bold';
    src: url("FHOscar-Bold.woff2") format("woff2")
}
@font-face {
    font-family: 'FHOscar-MediumItalic';
    src: url("FHOscar-MediumItalic.woff2") format("woff2")
}

@font-face {
    font-family: 'Futura-Medium';
    src: url("Futura-Medium.woff") format("woff")
}

* {
    font-family: 'Futura-Medium' !important;
}

@keyframes link_slide {
    0% {margin-top:15px;}
    100% {margin-top:-15px;}
}

@keyframes slide26 {
    0% {margin-top:0px;}
    100% {margin-top:-28px;}
}
  
@keyframes slide {
    0% {margin-top:0px;}
    100% {margin-top:-30px;}
}
  
@keyframes slide50 {
    0% {margin-top:0px;}
    100% {margin-top:-60px;}
}
  
  
@keyframes slide40 {
    0% {margin-top:0px;}
    100% {margin-top: -38px;}
}
* {
--responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 420px) / (1600 - 420)));
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.btn {
    -webkit-appearance: none;
    appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    text-decoration: none;
    text-transform: uppercase;
}

.btn--primary {
    padding: 13px 56px;
}

.btn--outline {
    border: none;
    background-color: transparent;
}

.btn span {
    display: block;
}
.btn svg {
    width: 12px;
    stroke: white;
    margin-left: 5px;
}

.btn svg polygon {
    fill: white;
}

@media (max-width: 798px) {
    .btn svg {
        width: 9px;
        margin-left: 3px;
    }
}

.header {
    margin: 0;
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid black;
}

@media (min-width: 798px) {
    .header {
        padding-top: 0;
        padding-bottom: 0;  
    }
}

.header__active-menu-item, .header__menu-item, .header__active-menu-item, .header__active-menu-item:hover, .header__menu-item:hover span {
    text-decoration: none;
}

.list-menu__item {
    padding: 1.6rem 2rem;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    align-items: flex-start !important;
}

.header__heading-logo {
    transition: opacity .3s ease-in;
}

.header__heading .header__heading-link:hover .header__heading-logo {
    opacity: 0.7;
}

.header__search {
    display: none !important;
}

.header__inline-menu {
    display: flex;
    justify-self: end;
    margin: 0;
    grid-area: icons;
    margin-right: 8.5rem;
}

.megamenu {
    padding: 3rem 5rem;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: var(--gradient-background);
    top: 40px;
    box-shadow: 0 2px 2px rgba(1,1,1,0.25), 
              0 4px 4px rgba(1,1,1,0.20), 
              0 8px 8px rgba(1,1,1,0.15), 
              0 16px 16px rgba(1,1,1,0.10),
              0 32px 32px rgba(1,1,1,0.05);
    display: none;
}

.mega-menu__wrap {
    border-top: 1px solid black;
}

.mega-menu__wrap:last-of-type {
    border-bottom: 1px solid black;
}

.mega-menu__promotion {
    display: flex;
}

.mega-menu__promotion-item {
    width: 25%;
    border-left: 1px solid black;
    margin: 15px 0;
    padding: 0 20px;
}

.mega-menu__promotion-item:first-of-type {
    padding-left: 0;
    border-left: 0;
}

.mega-menu__promotion-item:last-of-type {
    border-right: 1px solid black;
}

.mega-menu__heading {
    font-size: 35px;
    text-align: left;
    line-height: normal;
    color: black;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: normal;
    margin: 0;
    color: black;
}

.mega-menu__subheading {
    margin: 0;
    color: black;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.mega-menu__promotion-left {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.mega-menu__promotion-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mega-menu__promotion-left .mega-menu__promotion-item {
    width: 33%;
}

.mega-menu__promotion-right .mega-menu__promotion-item {
    width: 100%;
    border: none;
}

.mega-menu__promotion-right .mega-menu__promotion-item:last-of-type {
    border-top: 1px solid black;
}

.mega-menu__promotion-item a {
    text-decoration: none;
}

.mega-menu__image {
    display: block;
    position: relative;
}

.mega-menu__image img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    object-fit: contain;
    object-fit: cover;
    object-position: center;
    transition: .4s;
}

.mega-menu__image:hover img {
    transform: scale(1.05);
}

.mega-menu__promotion-2 .mega-menu__promotion-item {
    width: calc((100% - 120px) / 4 + 40px);
}

.mega-menu__promotion-2 .mega-menu__promotion-item:first-of-type, .mega-menu__promotion-2 .mega-menu__promotion-item:last-of-type {
    width: calc((100% - 120px) / 4 + 20px);
}

.mega-menu__promotion-2 .mega-menu__image {
    margin-top: 10px;
    padding-bottom: 120% !important;
    overflow: hidden;
}

.mega-menu__promotion-2 .mega-menu__promotion-item:nth-child(4) {
    padding-right: 0;
    border-right: none;
}

.mega-menu__promotion-2 .mega-menu__image img {
    height: 100%;
}

.mega-menu__single_link a {
    display: inline-block;
    text-decoration: none;
}

.mega-menu__single_link span {
    display: block;
    text-decoration: none;
    font-size: 35px;
    font-stretch: normal;
    letter-spacing: normal;
    color: black;
}

.mega-menu__submenu {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 15px 0 0;
    min-height: 230px;
    border-bottom: none !important;
}

.mega-menu__submenu-item {
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px);
}

.mega-menu__submenu-item:nth-child(2) {
    width: calc(50% + 20px);
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-left: 20px;
    padding-right: 20px;
}

.mega-menu__submenu-item:nth-child(3) {
    padding-left: 20px;
}

.mega-menu__submenu-item a {
    text-decoration: none;
}

.mega-menu__submenu-item a span {
    font-size: 20px;
    line-height: 1.2;
    color: black;
    text-transform: capitalize;
    display: inline-block;
 }

.menu-drawer {
    width: 100vw !important;
}

.menu-drawer__navigation {
    padding: 0 !important;
}

.js .menu-drawer__menu li {
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.menu-drawer__menu-item--active {
    background-color: transparent !important;
}

.menu-drawer__menu-item {
    padding: 2rem 2.5rem!important;
    font-weight: normal;
    color: black;
    border-bottom: 1px solid black;
    position: relative;
}

.menu-drawer__menu-item .icons {
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
    z-index: 5;
}

.menu-drawer__menu-item .icons span {
    width: 24px;
    height: 24px;
    display: block;

}

.menu-drawer__menu-item .icons .icon-plus {
    background-image: url('plus.png');
}

.menu-drawer__menu-item .icons .icon-minus {
    background-image: url('minus.png');
    display: none;
}

.color-accent-1 .menu-drawer__menu-item .icons .icon-plus,
.color-accent-2 .menu-drawer__menu-item .icons .icon-plus,
.color-inverse .menu-drawer__menu-item .icons .icon-plus,
.color-accent-1 .menu-drawer__menu-item .icons .icon-minus,
.color-accent-2 .menu-drawer__menu-item .icons .icon-minus,
.color-inverse .menu-drawer__menu-item .icons .icon-minus {
    filter: invert(100%);
}

.js .menu-drawer__menu li.active .icons .icon-plus {
    display: none;
}

.js .menu-drawer__menu li.active .icons .icon-minus {
    display: block;
}

.draw-megamenu__content {
    border-bottom: 1px solid black;
    display: none;
}

.js .menu-drawer__menu li.active .draw-megamenu__content {
    display: block;
}

.draw-megamenu__content .draw-megamenu__link {
    padding: 2rem 2.5rem 0;
    text-decoration: none;
    display: block;
}

.draw-megamenu__content .draw-megamenu__link:last-of-type {
    padding-bottom: 2rem;
}

.draw-megamenu__content .draw-megamenu__link .draw-megamenu__subheading {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin: 0;
    color: black;
    text-decoration: none;
}

.draw-megamenu__content .draw-megamenu__link .draw-megamenu__heading {
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    margin: 0;
    color: black;
    text-decoration: none;
}

.video__banner-wraper {
    position: relative;
}

.video__banner-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.video__banner-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.video__banner-image {

}

.video__banner-image img {
    width: 100%;
    height: auto;
}

.video__banner-text-content {
    position: absolute;
    padding: 0 50px;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.video__banner-text-content .btn svg {
    width: 14px;
}

.video__banner-heading {
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    text-transform: none;
    line-height: 1.125;
    letter-spacing: 0px;
    margin: 0;
    margin-bottom: 1.5rem;
    color: #f3f2f3;
}

.featured-products-section {
    margin: 0 40px 50px;
    display: flex;
    margin-top: 15px;
    border-top: 1px solid black;
    padding: 25px 0;
}

.featured-products-wraper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: calc(100% - 225px);
}

.featured-product-item {
    width: 25%;
}

.featured-product-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    max-width: 225px;
    width: 225px;
}

.featured-product-heading {
    margin: 0;
    font-size: 20px;
    line-height: 23px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    color: black;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.featured-product-header .btn {
    font-size: 15px;
    padding: 8px 56px;
}

.product-card {
    border-left: 1px solid black;
    padding: 0 30px 30px;
}

.product-card p {
    margin: 0;
}

.product-card a {
    text-decoration: none;
    color: black;
    line-height: 11px;
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: 400;
}

.product-card .product-title {
    text-transform: uppercase;
    line-height: 0;
}

.product-card .product-image {
    display: block;
    position: relative;
    margin: 20px 0;
}

.product-card .product-image img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    transition: .4s;
}

.product-card .product-image:hover img {
    transform: scale(1.05);
}

.product-card .product-info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    margin-top: 10px;
}

.header__heading-link {
    margin-left: 0;
    padding: 1.3rem 0;
}

@media (max-width: 798px) {
    .header__inline-menu {
        display: none;
    }

    .header__heading-link {
        width: 160px;
    }

    .video__banner-heading {
        line-height: 32px;
        font-size: 30px;
        padding-bottom: 15px;
        margin-bottom: 0;
    }

    .video__banner-text-content {
        top: 20%;
        transform: none;
        padding: 1%;
    }

    .video__banner-text-content img {
        width: 80%;
    }

    .featured-products-section {
        flex-direction: column;
        border: none;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 0;
    }

    .featured-product-header {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
        padding-right: 0;
        align-items: center;
    }

    .featured-product-heading {
        font-size: 24px;
        line-height: 23px;
        letter-spacing: 0;
    }

    .featured-product-header .btn {
        margin-left: auto;
        margin-right: 0;
        font-size: 11px;
        padding: 8px 56px;
        justify-content: center !important;
    }

    .featured-products-wraper {
        width: 100%;
        margin-top: 20px;
        padding-top: 15px;
        border-top: 1px solid black;
        overflow-x: auto;
        justify-content: stretch;
        align-items: stretch;
        height: 100%;
    }

    .featured-product-item {
        min-width: 47%;
        width: 47%;
        display: flex;
    }

    .featured-product-item:first-of-type .product-card {
        border-left: none;
        padding-left: 0;
    }

    .featured-product-item:last-of-type .product-card {
        padding-right: 0;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 10px 20px;
        margin-bottom: 10px;
        width: 100%;
    }

    .header__icon.header__icon--world {
        display:  none !important;
    }

    .video__banner-text-content .link-slider.btn--outline {
        font-size: 16px !important;
    }

    .product-card a {
        font-size: 11px;
        letter-spacing: 0;
    }
}

.link-slider {
    height: 20px!important;
    overflow: hidden;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start!important;
    border-bottom: 13px solid #000000;
    border-top: 13px solid #000000;
    outline: none;
    border-left: 0px;
    border-right: 0px;
    transition: all .3s cubic-bezier(.19,1,.22,1);
    -moz-transition: all .3s cubic-bezier(.19,1,.22,1);
    -webkit-transition: all .3s cubic-bezier(.19,1,.22,1);
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    background-color: #000000;
}

.link-slider span {
    position: relative;
    top: -10px;
    height: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    box-sizing: border-box;
    line-height: 1.27;
}

.link-slider:hover .slider-text-1 {
    animation: slide .3s cubic-bezier(.25,.46,.45,.94) 0s;
}

.link-slider.btn--outline {
    border: none !important;
    height: 24px !important;
    font-size: 20px !important;
    background: transparent;
    transition: .3s linear;
    line-height: inherit;
    padding: 0;
    white-space: normal;
    flex: initial;
}

.link-slider.btn--outline span {
    top: unset;
}

.link-slider.header__menu-item {
    border: none !important;
    height: 20px !important;
    background: transparent;
    transition: .3s linear;
    line-height: inherit;
    padding: 0;
    white-space: normal;
    flex: initial;
    color: #000000;
    padding-left: 22px;
    padding-right: 22px!important;
    font-size: 11px !important;
    letter-spacing: .5px;
    line-height: 1.5;
}

.color-accent-1 *, .color-accent-2 *, .color-inverse * {
    color: white !important;
}

.color-accent-1 svg, .color-accent-2 svg, .color-inverse svg {
    stroke: white;
}

.color-accent-1 path, .color-accent-2 path, .color-inverse path {
    fill: white;
}

.link-slider.header__menu-item span {
    margin-bottom: 13px;
    letter-spacing: 0;
    top: 5px;
    line-height: 1.5;
}

.mega-menu__submenu-item a.link-slider {
    align-items: flex-start;
    margin-bottom: 10px;
}

.megamenu .animated_link.link-slider {
    height: 50px !important;
    font-size: 35px;
    font-weight: 400;
    background: transparent;
    padding: 0;
    border: none !important;
    align-items: flex-start;
}

.megamenu .animated_link.link-slider span {
    height: 50px !important;
    margin-bottom: 13px;
    top: 4px;
}

.megamenu .animated_link.link-slider:hover .slider-text-1 {
    animation: slide50 .3s cubic-bezier(.25,.46,.45,.94) 0s;
}

.icon-world svg {
    width: 20px;
    height: auto;
    margin-top: 1px;
}

.icon-world {
    height: 20px;
    margin-left: 3px;
}

.header__icon.header__icon--world {
    width: auto;
    text-decoration: none;
    padding: 0 5px;
}

.header__icon.header__icon--world a {
    text-decoration: none;
}

.header__icon .link-slider {
    border: none!important;
    height: 20px!important;
    background: transparent;
    transition: .3s linear;
    line-height: inherit;
    white-space: normal;
    flex: initial;
    color: #000000;
    font-size: 11px!important;
    letter-spacing: .5px;
    line-height: 1.5;
}

.header__icon .link-slider span {
    top: 5px;
    text-decoration: none;
}


.lang-list-selecter {
    padding: 2rem 2.5rem!important;
    padding-right: 0 !important;
    display: inline-flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 0;
    cursor: pointer;
    margin-top: 5px;
    position: relative;
    white-space: nowrap;
    z-index: 2;
}

.lang-list-selecter select {
    letter-spacing: 0;
    appearance: none;
    text-indent: 1px;
    background-color: transparent;
    border: 0;
    text-transform: capitalize;
    z-index: 2;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    outline: none;
    padding: 10px 30px 10px 0;
}

.lang-list-selecter select:focus-visible {
    outline-offset: unset;
    box-shadow: none;
}

.lang-list-selecter option {
    text-transform: capitalize;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.2rem;
    width: 1.2rem;
    fill: currentColor;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.lang-list-selecter .icon {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 4.5px 0 4.5px;
    border-color: #000000 transparent transparent transparent;
    margin-left: 4px;
    position: absolute;
    right: 10px;
    transform: rotate(0deg);
    transition: transform .2s linear;
}

.lang-list-selecter select:focus-visible + .icon {
    transform: rotate(180deg);
}

@media (max-width: 798px) {
    .link-slider span {
        margin: 0 !important;
        top: 0;
        height: auto;
    }

    .slider-text-2 {
        display: none !important;
    }
}

.search-bar-section {
    padding: 50px 50px 100px;
}

.search-bar-wraper .title {
    font-size: 11px;
    letter-spacing: .5px;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 3.5rem;
}

.search-bar-wraper .link-slder {
    text-decoration: none;
    color: #707070 !important;
    height: 50px!important;
    overflow: hidden;
    display: flex!important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start!important;
    outline: none;
    border-left: 0px;
    border-right: 0px;
    transition: all .3s cubic-bezier(.19,1,.22,1);
    -moz-transition: all .3s cubic-bezier(.19,1,.22,1);
    -webkit-transition: all .3s cubic-bezier(.19,1,.22,1);
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
    border-bottom: 2px solid black;
}

.search-bar-wraper .link-slder span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 36px;
    margin-bottom: 18px;
    width: -webkit-fill-available;
}

.search-bar-wraper .link-slder span svg {
    width: 26px;
    height: 26px;
    margin-right: 18px;
    position: relative;
    top: 2px;
    stroke: #000;
}

.search-bar-wraper .link-slder span.align-right {
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    width: auto;
}

.search-bar-wraper .link-slder span svg * {
    fill: #000;
}

.search-bar-wraper .link-slder span svg circle {
    fill: transparent;
}

.search-bar-wraper .link-slder .icon-right-arrow {
    margin-left: 10px;
}

@media (min-width: 798px) {
    .search-bar-wraper .link-slder:hover .slider-text-1 {
        animation: slide50 .3s cubic-bezier(.25,.46,.45,.94) 0s;
    }   
}

@media (max-width: 798px) {
    .search-bar-section {
        padding: 45px 16px 60px;
    }

    .search-bar-wraper .title {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .search-bar-wraper .link-slder {
        height: auto !important;
    }

    .search-bar-wraper .link-slder span {
        font-size: 24px;
    }

    .search-bar-wraper .link-slder span svg {
        margin-right: 8px;
    }
}

.iot-section {
    position: relative;
}

.iot-section .iot-image {
    position: relative;
}

.iot-section .iot-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: 30%;
}

.iot-section .iot-image .hide-image {
    position: relative;
    visibility: hidden;
}

.iot-section .iot-text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding: 1%;
}

.iot-text-wrapper {
    width: 100%;
    padding: calc(10px + 2vw);
    color: #f5f5f5;
}

.layout_1 .iot-text-wrapper {
    max-width: 570px;
    min-width: 350px;
}

.layout_2 .iot-text-wrapper {
    max-width: calc(260px + 20px + 4vw);
}

.iot-section .iot-text .subheading {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #f5f5f5;
    border-bottom: 1px solid;
    margin-top: 0;
    padding-bottom: 1rem;
}

.iot-section .iot-text .heading {
    font-size: 36px;
    color: #f5f5f5;
    text-transform: none;
    line-height: 1.125;
    overflow-wrap: break-word;
    letter-spacing: 0px;
    margin-top: 1rem;
    margin-bottom: 0;
}

.layout_2 .iot-text .heading {
    font-size: 20px;
}

.iot-section .iot-text .over-image {
    margin-top: 2rem;
}

.iot-section .iot-text .over-image img {
    max-width: 18rem;
}

.iot-section .iot-text .link-slider {
    color: #f5f5f5;
    margin-top: 1.5rem;
}

.iot-text .animated_link.link-slider {
    font-size: 20px!important;
    flex: initial;
    border: none!important;
    height: 24px!important;
    line-height: inherit;
    padding: 0;
    background: transparent;
    max-width: 100%;
    white-space: normal;
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 12px;
    overflow: hidden;
    display: flex!important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start!important;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: center;
    position: relative;
    vertical-align: top;
    transition: .3s linear;
    text-decoration: none;
    margin-top: 2rem;
}

.iot-text .link-slider span {
    height: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    box-sizing: border-box;
    position: relative;
    top: 0;
    line-height: 1.27;
    text-decoration: none;
    font-size: 20px;
}

.layout_3 .iot-text {
    padding: 0;
    top: 0;
    transform: unset;
}

.layout_3 .iot-text-wrapper {
    padding: 40px;
    padding-top: 8%;
    max-width: 430px;
}

.iot-text-wrapper .richtext * {
    margin-bottom: 15px;
    margin-top: 0;
    color: #f3f2f3;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 1.2em;
    font-weight: 400;
}

.iot-text-wrapper .richtext p:first-of-type {
    font-size: 11px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.iot-text-wrapper .author {
    line-height: 1.5rem;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    color: #f3f3f3;
}

@media (max-width: 798px) {

    .layout_1 .iot-text .subheading {
        border: none;
    }

    .iot-section .iot-text .subheading {
        padding: 0;
    }

    .iot-section .iot-text .heading {
        font-size: 24px !important;
        max-width: 60%;
    }

    .iot-text-wrapper {
        max-width: 100% !important;
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .iot-text .link-slider span {
        font-size: 25px;
        top: -2px;
    }

    .layout_2 .iot-text {
        transform: translateY(10px);
    }

    .layout_3 .iot-image {
        min-height: 500px !important;
    }

    .layout_3 .iot-text {
        position: relative;
    }

    .layout_3 .iot-text * {
        color: #000000;
        text-align: left;
    }

    .layout_3 .hide-image {
        display: none;
    }

    .layout_3 .iot-image img {
        object-position: center;
    }

    .layout_3 .over-image {
        filter: invert(100%);
    }
}

.multicolumn-images-section {
    padding: 50px 40px 0;
}

.multicolumn-images-section .heading {
    border-top: 2px dashed #707070;
    margin-bottom: 20px;
    padding-bottom: 4px;
}

.multicolumn-images-section .heading * {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
    color: #000000;
    letter-spacing: 2.5px;
}

.multicolumn-images-section .heading p {
    font-size: 12px;
    letter-spacing: 1px;
}

.multicolumn-images-wrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.multicolumn-images-wrapper .columns-col-1 {
    margin-right: 10px;
}

.multicolumn-images-wrapper .columns-col-2 {
    margin-left: 10px;
}

.multicolumn-images-wrapper.row--3 .columns-col-1 {
    width: 33%;
    margin-right: 10px;
}

.multicolumn-images-wrapper.row--3 .columns-col-2 {
    margin-left: 10px;
    width: 67%;
}

.multicolumn-image-item {
    height: 100%;
}

.multicolumn-image-item .image-warpper {
    position: relative;
    overflow: hidden;
}

.multicolumn-image-item .image-warpper:first-of-type {
    box-shadow: 0px 3px 20px #00000029;
}

.multicolumn-image-item .image-warpper:first-of-type * {
    color: black !important;
}

.multicolumn-images-wrapper.row--3 .columns-col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.multicolumn-images-wrapper.row--3 .columns-col-2 .multicolumn-image-item {
    width: 100%;
}

.multicolumn-images-wrapper.row--3 .columns-col-2 .multicolumn-image-item:last-of-type {
    margin-top: 20px;
}

.multicolumn-image-item .image-warpper img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: .4s;
}

.multicolumn-image-item a {
    text-decoration: none;
    position: relative;
    height: 100%;
    display: block;
}

.multicolumn-image-item .image-warpper {
    min-height: 100%;
}

.multicolumn-image-item .image-caption {
    color: #000000;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    display: block;
    text-decoration: none;
    position: static;
}

.multicolumn-images-wrapper.row--3 .multicolumn-image-item .image-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #f5f5f5;
    z-index: 1;
}

.multicolumn-images-wrapper.row--3 .columns-col-1 .multicolumn-image-item .image-caption {
    color: #000000;
}

.multicolumn-images-wrapper.row--2 .multicolumn-image-item .image-caption {
    text-decoration: underline;
}

.multicolumn-images-section .link-slider {
    color: #000000 !important;
    margin-top: 50px;
    text-decoration: underline;
    font-size: 16px !important;
}

@media (min-width: 750px) {
    .multicolumn-images-wrapper.row--2 .multicolumn-image-item:first-of-type .image-warpper {
        padding-bottom: 68% !important;
    }

    .multicolumn-images-wrapper.row--2 .multicolumn-image-item:last-of-type .image-warpper {
        padding-bottom: 138.5% !important;
    }
}

.multicolumn-image-item:hover img {
    transform: scale(1.05);
}

.multicolumn-images-wrapper.row--2 {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.multicolumn-images-wrapper.row--2 .multicolumn-image-item {
    width: 67%;
    margin-right: 10px;
}

.multicolumn-images-wrapper.row--2 .multicolumn-image-item:last-of-type {
    width: 33%;
    margin-left: 10px;
    margin-right: 0;
}

@media (max-width: 798px) {
    .multicolumn-images-section {
        padding: 25px 16px;
    }

    .multicolumn-images-section .heading {
        font-size: 24px;
    }

    .multicolumn-images-wrapper {
        overflow-x: auto;
        justify-content: flex-start;
        align-content: center;
    }

    .multicolumn-images-wrapper.row--3 .columns-col-1, .multicolumn-images-wrapper.row--3 .columns-col-2 {
        width: 100%;
    }

    .multicolumn-images-wrapper.row--3 .columns-col-2 {
        justify-content: flex-start;
    }

    .multicolumn-images-wrapper.row--3 .multicolumn-image-item .image-warpper {
        width: 250px !important;
        height: 300px !important;
        min-width: 250px !important;
        min-height: 300px !important;
        padding: 0 !important;
    }

    .multicolumn-images-wrapper.row--3 .columns-col-2 {
        flex-direction: row;
    }

    .multicolumn-images-wrapper.row--3 .columns-col-2 .multicolumn-image-item:last-of-type {
        margin-top: 0;
        margin-left: 20px;
    }

    .multicolumn-images-wrapper.row--2 {
        flex-wrap: wrap;
    }

    .multicolumn-images-wrapper.row--2 .multicolumn-image-item {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .multicolumn-images-wrapper.row--2 .multicolumn-image-item .image-warpper {
        min-height: 235px;
        padding: 0 !important;
    }
}

.richtext-coulmns-section {
    padding: 70px 40px;
    background: #000000;
}

.richtext-coulmns-warpper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 15px;
}

.richtext-coulmn-item {
    width: 25%;
    padding: 0 15px;
    border-left: 1px solid #f5f5f5;
}

.richtext-coulmn-item .richtext {
    padding-top: 10px;
    border-top: 1px solid #f5f5f5;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.richtext-coulmn-item:first-of-type {
    padding-left: 0;
    border-left: none;
}

.richtext-coulmn-item * {
    color: #f5f5f5;
}

.richtext-coulmn-item .richtext .section-heading {
    font-size: 36px;
    line-height: normal;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    display: block;
    letter-spacing: 0px;
    margin: 0;
    margin-top: auto;
    max-width: 270px;
}

.richtext-coulmn-item .richtext .subheading {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 15px;
    line-height: 1.25;
    overflow-wrap: break-word;
}

.richtext-coulmn-item .richtext .heading {
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0px;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.richtext-coulmn-item .richtext .image-warpper {
    margin-top: auto;
}

.richtext-coulmn-item .richtext .image-warpper img {
    width: 170px;
}

@media (max-width: 798px) {
    .richtext-coulmns-section-mobile {
        padding: 70px 16px;
        background: #000000;
    }

    .richtext-coulmns-section-mobile .richtext-coulmns-warpper {
        display: block;
        padding: 10px 0;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
    }

    .richtext-coulmns-section-mobile .section-heading {
        font-size: 24px;
        color: #f5f5f5!important;
        line-height: normal;
        margin-top: 0;
        max-width: 180px;
        letter-spacing: 0;
    }

    .richtext-coulmns {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .richtext-coulmns .richtext-coulmn-item {
        width: 30%;
        border: none;
        padding: 0;
        text-align: center;
    }

    .richtext-coulmns .richtext-coulmn-item:nth-child(2) {
        margin-left: 5%;
        margin-right: 5%;
    }

    .richtext-coulmns .richtext-coulmn-item .image-warpper img {
        width: 100%;
    }
}

.reviews-section {
    padding: 130px 40px 120px;
}

.reviews-section .heading {
    border-bottom: 0px;
    padding-bottom: 0;
    margin-bottom: 4px;
    font-size: 36px;
    border-top: 1px solid #000000;
    font-weight: 400;
    font-style: normal;
    text-transform: none;
    line-height: 1.5;
    color: #000000;
    display: block;
    letter-spacing: 0px;
}

@media (min-width 780px) {
    .review-items {
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
}

.review-item:nth-child(2) {
    margin: 0 15px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
}

.review-item {
    width: 32.5% !important;
    min-height: 290px;
}

.review-content {
    border-top: 1px solid #000000;
    padding: 15px 15px 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.review-item:first-of-type .review-content {
    padding-left: 0;
}

.review-item:last-of-type .review-content {
    padding-right: 0;
}

.review-item:nth-child(2) .review-content {
    margin: 0 15px;
}

.review-content .image-warpper {
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    border-radius: 50%;
    margin: 18px 0;
}

.review-content .image-warpper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
    border-radius: 50%;
}

.review-content .image-warpper:hover img {
    transform: scale(1.05);
}

.review-content .comment {
    margin-bottom: 25px;
}

.review-content .comment * {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0px;
    color: #000000;
    font-size: 20px;
}

.review-content .author {
    text-decoration: none;
    color: #000000;
    transition: color .3s ease-in-out;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 35px;
}

.reviews-section .link-slder {
    border-bottom: 13px solid #000000;
    border-top: 13px solid #000000;
    outline: none;
    border-left: 0px;
    border-right: 0px;
    margin-top: 58px;
    padding: 13px 56px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0;
    color: #fff;
    background-color: #000000;
    transition: all .3s cubic-bezier(.19,1,.22,1);
    -moz-transition: all .3s cubic-bezier(.19,1,.22,1);
    -webkit-transition: all .3s cubic-bezier(.19,1,.22,1);
    width: calc(33.3333333333% - 8px);
    text-align: center!important;
    align-items: center;
    height: 20px!important;
    overflow: hidden;
    display: flex!important;
    flex-direction: column;
    justify-content: flex-start!important;
}

.reviews-section .link-slder span {
    position: relative;
    top: -10px;
    height: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    box-sizing: border-box;
    font-style: inherit;
    font-weight: inherit;
    font-size: 15px;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: 0;
    color: #fff;
}

.reviews-section .link-slder:hover .slider-text-1 {
    animation: slide .3s cubic-bezier(.25,.46,.45,.94) 0s;
    text-decoration: none!important;
}

@media (max-width: 798px) {
    .reviews-section {
        padding: 50px 16px;
    }

    .reviews-section .heading {
        margin-top: 0;
        font-size: 24px;
    }

    .reviews-section .link-slder {
        width: 100%;
        font-size: 11px;
        border-bottom: 8px solid #000000!important;
        border-top: 8px solid #000000!important;
        margin-top: 10px;
    }

    .reviews-section .link-slder span  {
        font-size: 11px;
    }

    .review-item {
        width: calc(100vw - 32px) !important;
        min-height: 290px;
        margin: 0 !important;
        border-left: none !important;
        border-right: none !important;
    }

    .review-item .review-content {
        margin: 0 !important;
        border-left: none !important;
        border-right: none !important;
        text-align: center;
    }

    .review-content .image-warpper {
        margin: 18px auto;
    }

    .review-content .comment * {
        text-align: center;
    }

    .review-content .author {
        margin-bottom: 10px;
    }

    .reviews-section .slick-arrow {
        display: none !important;
    }

    .reviews-section .slick-dots {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reviews-section .slick-dots li {
        width: 30%!important;
        margin-left: 5px!important;
        margin-right: 5px!important;
        max-width: none;
    }

    .reviews-section .slick-dots li button {
        width: 100%;
        background: 0 0;
        position: relative;
        padding: 10px!important;
        height: 20px;
        border: none;
        color: transparent;
        opacity: 0.25;
    }

    .reviews-section .slick-dots li.slick-active button {
        opacity: 1;
    }

    .reviews-section .slick-dots li button::after {
        position: absolute;
        content: "";
        height: 1px;
        border-top: 1px solid #000000;
        width: auto;
        right: 0;
        left: 0;
    }

    .lang-list-selecter {
        display: none;
    }
}

.logo--banner-section {
    padding: 100px 100px 40px;
}

@media (max-width: 750px) {
    .logo--banner-section {
        padding: 50px 16px 10px;
    }

    .logo--banner-section img {
        width: 80%;
    }
}

.image-with-text-2 {
    padding: 100px 0 50px;
    position: relative;
}

.image-with-text-2 .image-warpper {
    background: black;
    overflow: hidden;
}

.image-with-text-2 .image-warpper img {
    object-fit: cover;
    opacity: 0.4;
}

.image-with-text-2 .image-warpper img {
    width: 100%;
}

.image-with-text-2 .top-image {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    padding: 0 40px;
}

.image-with-text-2 .top-image img {
    max-width: 230px;
}

.image-with-text-2 .over-text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(calc(-50% + 50px));
    padding: 50px 40px;
}

.image-with-text-2 .over-text .heading {
    color: white;
    font-size: 38px;
    border-bottom: 2px solid;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: left;
    margin-top: 0;
}

.image-with-text-2 .over-text .sub-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-with-text-2 .over-text .sub-content .subheading {
    color: white;
    font-size: 12px;
    text-align: left;
    margin: 0;
}

.image-with-text-2 .over-text .sub-content .link-slider {
    color: white;
    font-size: 12px !important;
    margin-left: auto;
    margin-right: 0;
}

@media (max-width: 750px) {
    .image-with-text-2 .top-image {
        top: 40%;
    }

    .image-with-text-2 .over-text {
        padding: 16px;
    }

    .image-with-text-2 .over-text .heading {
        font-size: 18px;
    }

    .image-with-text-2 .over-text .sub-content .link-slider {
        height: auto;
    }
}